body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1;
    background-color: lightgray;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: black;
    border-left: 1px solid black;
    padding: 10px;
  }

  h1 {
    font-style: italic;
    font-size: 60px;
  }

  p {
    font-size: 40px;
    color: aliceblue;
  }
  
  .jumbotron {
    text-align: center;
    background-color: royalblue;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: left;
    border-radius: 15px;
  }

  .row {
    white-space: pre-wrap;
    border-top: 1px solid;
    height: 80px;
  }
  
  .hour {
    background-color: white;
    color: #000000;
    border-top: 1px royalblue;
  }
  
  .past {
    background-color: grey;
    color: white;
  }
  
  .present {
    background-color: red;
    color: white;
  }
  
  .future {
    background-color: green;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: royalblue;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }